*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 125, 241);
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

/* Estilo do container */
#container{
    border: solid rgb(255, 0, 0);
    width: 900px;
    height: 400px;
    margin: auto;
}

