*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 108, 196);
}



/* Container principal */
#container{
    width:  950px;
    height: 950px;
    margin: auto; 

    border: solid red;
     border-radius: 40px;


    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/* Título */
#container h1{
    color: white;
    margin-top: 20px;
}

/* Parágrafo */
#container p{
    color: white;

    margin-top: 10px;
    padding: 0 20px;
}
 
/* Barra de busca */
#buscarbar{
    height: auto;
    width: auto;
    gap: 10px;  
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#cidadeInput{
    height: 35px;
    padding: 5px;
    border: none;
    font-size: 14px;
    
}

#buscarBtn{
    width: 80px;
    height: 35px;
    color: white;
    background: rgba(7, 79, 187, 0.817);

    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);

    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
  transition: background 0.5s;
}

#buscarBtn:hover {
    background: rgba(114, 39, 255, 0.35);
    border: 1.5px solid #ffffff;
      }

/* status */
#resultado{
    font-size: 18px;    
    border: 2px solid red;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.572);

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 800px;
    height: 700px;
    
}
#resultado h2{ 
  margin-bottom: 20px;
  text-align: center;
  padding: 4px;
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;

  justify-content: center;
  align-items: center;

  margin: 200px 0;  
  width: 100%;                                     
 
  
}

.icones{
    display: flex;
    align-items: center;
    text-align: start;
    
    padding: 6px 5px;
    gap: 2px;

    border: 2px solid rgba(82, 49, 250, 0.792);
    border-radius: 20px;
}

.icones img{
width: 90px;
height: auto;
padding: 10px;

}

 .status {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

#TempAtualContainer{
    border: solid rgb(255, 0, 217);
    border-radius: 40px;
    background: #1a6eff8d;

    width: 400px;
    height: 200px;


    
    padding: 10px;
}
#TempAtualContainer p {
    color: white;
    font-size: 20px;

    text-align: center;
}

#loading {
    display: none;
    text-align: center;

    font-size: 20px;
    margin-top: 20px;
}

.spinner {
    width: 50px;
    height: 50px;

    border: 6px solid #ddd;
    border-top: 6px solid #3498db;
    border-radius: 50%;

    animation: girar 1s linear infinite;
}

    
@keyframes girar {
 from {
    transform: rotate(0deg);
 }
 to
    {
        transform: rotate(360deg);
    }
}

/*
display flex: define um contêiner flexível e que ele controla o layout dos seus itens filhos
justify-content: center: alinha os itens ao centro horizontalmente
flex direction: column: organiza os itens em uma coluna vertical
margin-top: auto: empurra a barra de busca para o final do contêiner    
margin-bottom: 20px: adiciona um espaço de 20 pixels abaixo da barra de busca 
margin apenas funciona apenas quando se coloca pixel menor que o container possui
padding apenas funciona para aumentar o tamanho do elemento sem alterar o tamanho do container
hover para fazer a interação do mouse com o botão
para mexer na altura/largura não é pelo container principal, e sim pelo elemento que está dentro do container
height:auto faz com que a altura se ajuste automaticamente ao conteúdo do elemento
width:auto faz com que a largura se ajuste automaticamente ao conteúdo do elemento
*/